<a href="https://colab.research.google.com/github/kittimaxz/DWDM21/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd # ทำงานกับข้อมูลลักษณะ ตาราง

In [33]:
from google.colab import drive ### เชื่อม google colab กับ google drive
drive.mount('/content/drive') ### mount คือคำสั่งใช้เชื่อมกัน

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [34]:
ls ### แอลเอส เป็นคำสั่งที่ใช้ดูว่าเชื่อมติดไหม ถ้าติดจะแสดงผลลัพธ์แบบนี้

drive/  sample_data/

In [35]:
import os #จัดการไฟล์และ path(ที่อยู่ของไฟล์)

In [36]:
path = '/content/drive/My Drive/DWDM2021_DATA' # เป็นการชี้ที่อยู่ของไฟล์ที่อยู่ใน folder ใน drive

In [37]:
data_activity = pd.read_csv(os.path.join(path,'OS_16_0015_01.csv')) ###จำนวนประชากรที่ใช้คอมพิวเตอร์ จำแนกตามอายุ กิจกรรมที่ใช้
data_activity

      year          area  ... unit                 source
0     2556    ทั่วประเทศ  ...   คน  สำนักงานสถิติแห่งชาติ
1     2556    ทั่วประเทศ  ...   คน  สำนักงานสถิติแห่งชาติ
2     2556    ทั่วประเทศ  ...   คน  สำนักงานสถิติแห่งชาติ
3     2556    ทั่วประเทศ  ...   คน  สำนักงานสถิติแห่งชาติ
4     2556    ทั่วประเทศ  ...   คน  สำนักงานสถิติแห่งชาติ
...    ...           ...  ...  ...                    ...
1381  2561  นอกเขตเทศบาล  ...   คน  สำนักงานสถิติแห่งชาติ
1382  2561  นอกเขตเทศบาล  ...   คน  สำนักงานสถิติแห่งชาติ
1383  2561  นอกเขตเทศบาล  ...   คน  สำนักงานสถิติแห่งชาติ
1384  2561  นอกเขตเทศบาล  ...   คน  สำนักงานสถิติแห่งชาติ
1385  2561  นอกเขตเทศบาล  ...   คน  สำนักงานสถิติแห่งชาติ

[1386 rows x 7 columns]

In [38]:
data_edu = pd.read_csv(os.path.join(path,'OS_16_0015_03.csv')) ###จำนวนประชากรที่ใช้คอมพิวเตอร์ จำแนกตามการศึกษา
data_edu

     year          area  ...   unit                 source
0    2556    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
1    2557    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
2    2558    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
3    2559    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
4    2560    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
..    ...           ...  ...    ...                    ...
234  2563  นอกเขตเทศบาล  ...  พันคน  สำนักงานสถิติแห่งชาติ
235  2563  นอกเขตเทศบาล  ...  พันคน  สำนักงานสถิติแห่งชาติ
236  2563  นอกเขตเทศบาล  ...  พันคน  สำนักงานสถิติแห่งชาติ
237  2563  นอกเขตเทศบาล  ...  พันคน  สำนักงานสถิติแห่งชาติ
238  2563  นอกเขตเทศบาล  ...  พันคน  สำนักงานสถิติแห่งชาติ

[239 rows x 6 columns]

In [39]:
data_status = pd.read_csv(os.path.join(path,'OS_16_0015_04.csv')) ###จำนวนประชากรที่ใช้คอมพิวเตอร์ จำแนกตามสถานภาพการทำงาน
data_status

     year          area  ...   unit                 source
0    2556    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
1    2557    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
2    2558    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
3    2559    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
4    2560    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
..    ...           ...  ...    ...                    ...
318  2563  นอกเขตเทศบาล  ...  พันคน  สำนักงานสถิติแห่งชาติ
319  2563  นอกเขตเทศบาล  ...  พันคน  สำนักงานสถิติแห่งชาติ
320  2563  นอกเขตเทศบาล  ...  พันคน  สำนักงานสถิติแห่งชาติ
321  2563  นอกเขตเทศบาล  ...  พันคน  สำนักงานสถิติแห่งชาติ
322  2563  นอกเขตเทศบาล  ...  พันคน  สำนักงานสถิติแห่งชาติ

[323 rows x 7 columns]

In [42]:
merged_table = data_activity.merge(data_edu,how='left',left_on='age_group',right_on='level_of_edu')
merged_table

      year_x        area_x  ... unit_y               source_y
0       2556    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
1       2556    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
2       2556    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
3       2556    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
4       2556    ทั่วประเทศ  ...     คน  สำนักงานสถิติแห่งชาติ
...      ...           ...  ...    ...                    ...
2263    2561  นอกเขตเทศบาล  ...    NaN                    NaN
2264    2561  นอกเขตเทศบาล  ...    NaN                    NaN
2265    2561  นอกเขตเทศบาล  ...    NaN                    NaN
2266    2561  นอกเขตเทศบาล  ...    NaN                    NaN
2267    2561  นอกเขตเทศบาล  ...    NaN                    NaN

[2268 rows x 13 columns]

In [43]:
merged_alltable = merged_table1.merge(data_status,how='left',left_on='age_group',right_on='labor_status')
merged_alltable

       year_x        area_x  ... unit                 source
0        2556    ทั่วประเทศ  ...   คน  สำนักงานสถิติแห่งชาติ
1        2556    ทั่วประเทศ  ...   คน  สำนักงานสถิติแห่งชาติ
2        2556    ทั่วประเทศ  ...   คน  สำนักงานสถิติแห่งชาติ
3        2556    ทั่วประเทศ  ...   คน  สำนักงานสถิติแห่งชาติ
4        2556    ทั่วประเทศ  ...   คน  สำนักงานสถิติแห่งชาติ
...       ...           ...  ...  ...                    ...
73831    2561  นอกเขตเทศบาล  ...  NaN                    NaN
73832    2561  นอกเขตเทศบาล  ...  NaN                    NaN
73833    2561  นอกเขตเทศบาล  ...  NaN                    NaN
73834    2561  นอกเขตเทศบาล  ...  NaN                    NaN
73835    2561  นอกเขตเทศบาล  ...  NaN                    NaN

[73836 rows x 20 columns]